*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.html {
  font-size: 62.5%;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.container {
  width: 90%;
  margin: auto;
}

.navbar {
  box-shadow: 0vh 0.75vh 1vh 0.2vh rgba(0, 0, 0, .5);
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  z-index: 100;
  display: flex;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 9.6vh;
  align-items: center;
}

.right {
  position: absolute;
  display: flex;
  right: 5vh;
}

.logo {
  width: 6vh;
  height: 6vh;
  border-radius: 1vh;
  cursor: pointer;
  margin-right: 1vh;
}

.title {
  cursor: pointer;
  font-size: 4vh;
  margin: auto;
}

.navbar>a {
  display: flex;
}

.right li {
  list-style: none;
  margin-left: 1.5vh;
  font-size: 3vh;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
  font-family: "Lato";
  margin: auto;
  margin: 2vh 2vh 0vh 2vh;
}

.navbar h3 {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
  font-family: "Lato";
  font-size: 3vh;
  cursor: pointer;
}

@media (max-width: 21vh) {
  .navbar {
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 9.6vh;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 4.8vh;
    width: 4.5vh;
    top: 3vh;
    left: 3vh;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 4.2vh;
    width: 5.2vh;
    position: absolute;
    top: 3vh;
    left: 3vh;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 0.6vh;
    width: 100%;
    border-radius: 1.5vh;
    background: #fff;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar .right {
    padding-top: 15vh;
    background: #1e2124;
    height: 100vh;
    max-width: 45vh;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -6vh;
    padding-left: 6vh;
    transition: transform 0.5s ease-in-out;
    box-shadow: 0.75vh 0vh 1.5vh 0vh #2e2e2e;
    overflow: scroll;
    font-family: "Lato";
  }

  .navbar .right li {
    margin-bottom: 1.8rem;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: "Lato";
  }

  .logo {
    position: absolute;
    top: 1.5vh;
    right: 2.2vh;
    font-size: 2.5rem;
    font-family: "Lilita One";
  }

  .navbar-container input[type="checkbox"]:checked~.right {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
}

@media (max-width: 50vh) {
  .navbar-container input[type="checkbox"]:checked~.logo {
    display: none;
  }
}
